@model IList<Paciente>

@{
    ViewData["Nome"] = "Index";
}

<h1>Pacientes</h1>

<mensagem texto="@TempData["msg"]" class="alert alert-success"></mensagem>

<a asp-action="cadastrar" asp-controller="paciente">Cadastrar</a>
<table class="table">
    <tr>

        <th>Codigo</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Data Nascimento</th>
        <th>CRM</th>
        <th>Ano da formação</th>
        <th>Especialização</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Codigo</td>
            <td>@item.Nome</td>
            <td>@item.Sobrenome</td>
            <td>@item.DataNascimento</td>
            <td>@item.CRM</td>
            <td>@item.AnoFormacao</td>
            <td>@item.Especializacao</td>

            <td>
                <a asp-action="editar" class="btn btn-sm btn-outline-primary" asp-route-id="@item.Codigo">Editar</a>
                <button onclick="pacienteId.value= @item.Codigo" type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                    Excluir
                </button>
            </td>
        </tr>
    }
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">Confirmação</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir o paciente?
            </div>
            <div class="modal-footer">
                <form asp-action="remover" asp-controller="paciente">
                    <input type="hidden" name="id" id="pacienteId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>